/*----v2.0 blue:#2185C5, light-blue:#7ECEFD, white-yellow-ish:#FFF6E5, gray:#3E454C, red:#FF7F66; */
header{
  height:100px;
}
footer{
  background:#3E454C;
  height:350px;
}
.container{
  background:#FFF6E5;
  min-height:300px;
}
.container2{
  background:#7ECEFD;
  min-height:300px;
}
.container3{
  background:#2185C5;
  min-height:300px;
}
.container4{
  background:#FF7F66;
  min-height:300px;
}
.nav-social{
  display:inline-block;
  float:right;
  margin-top:20px;
  margin-right:20px;
}
.nav-social li{
  float:left;
  margin:0 10px;
}
.nav-social a{
  background: url('../imgs/sprite-social.png') no-repeat top left;
  display:inline-block;
}

a.facebook:hover{ background-position: 0 0; width: 64px; height: 64px; } 
a.facebook{ background-position: 0 -114px; width: 64px; height: 64px; } 
a.google:hover{ background-position: 0 -228px; width: 64px; height: 64px; } 
a.google{ background-position: 0 -342px; width: 64px; height: 64px; } 
a.linkedin:hover{ background-position: 0 -456px; width: 64px; height: 64px; } 
a.linkedin{ background-position: 0 -570px; width: 64px; height: 64px; } 
a.skype:hover{ background-position: 0 -684px; width: 64px; height: 64px; } 
a.skype{ background-position: 0 -798px; width: 64px; height: 64px; } 
a.twitter:hover{ background-position: 0 -912px; width: 64px; height: 64px; } 
a.twitter{ background-position: 0 -1026px; width: 64px; height: 64px; } 